<section id="primaryCallToAction" class="container-fluid">
    <div>
        <h2>Learn how</h2>
        <p>A popcorn machine can help you make that perfect cup of coffee</p>
        <a class="btn btn-primary" href="/start-here">Learn more</a>
    </div>
</section>

<section id="secondaryCallToAction" class="container-fluid">
    <div class="row justify-items-center">
        <div id="popcornMachines" class="col text-center">
        </div>
        <div class="col-12 col-md-8 col-lg-6 align-self-center">
            <div class="signup">
                <h3>With community, coffee is more than a cup!</h3>
                <span class="subtitle">Join the popcorn machine coffee roasting community</span>
                <form action="//popcornroastery.us16.list-manage.com/subscribe/post?u=e1eafbc09286a2e130122d83e&amp;id=76b6aec1e7" class="form-inline"
                    method="post" target="_blank" role="form" novalidate>
                    <input class="form-control" type="text" name="FNAME" placeholder="First Name" required aria-label="First Name">
                    <input class="form-control" type="email" name="EMAIL" placeholder="Email Address" required aria-label="Email Address">
                    <div style="position: absolute; left: -5000px;" aria-hidden="true">
                        <input type="text" name="b_e1eafbc09286a2e130122d83e_76b6aec1e7" tabindex="-1" value="">
                    </div>
                    <button class="btn btn-primary" type="submit">Join now</button>
                </form>
            </div>
        </div>
    </div>
</section>

<section id="cardNav" class="container-fluid">
    <div class="row justify-items-center">
        <div class="col-12 col-sm-4">
            <div id="machineCard" class="pr-card">
                <a href="/roasters">
                    <div class="pr-card-content"></div>
                    <h4>Roasters</h4>
                </a>
            </div>
        </div>
        <div class="col-12 col-sm-4">
            <div id="beanCard" class="pr-card">
                <a href="/green-coffee">
                    <div class="pr-card-content"></div>
                    <h4>Green Coffee</h4>
                </a>
            </div>
        </div>
        <div class="col-12 col-sm-4">
            <div id="equipmentCard" class="pr-card">
                <a href="/equipment">
                    <div class="pr-card-content"></div>
                    <h4>Equipment</h4>
                </a>
            </div>
        </div>
    </div>
</section>