<div class="container-fluid FlexContainer action-primary">
    <div class="FlexItem">
        <h2>Learn how</h2>
        <p>A popcorn machine can take your coffee game to the next level</p>
        <button class="btn btn-primary">Learn more</button>
    </div>
</div>
 
<div class="container-fluid action-signup">
    <div class="row justify-items-center">
        <div class="col"></div>
        <div class="col-12 col-md-8 col-lg-6">
            <div class="signup">
                <h3 class="signup-title">Coffee's more than just a cup!</h3>
                <span class="signup-subtitle">Join the popcorn machine roastering community</span>
                <p id="signup-success" class="text-success"></p>
                <p id="signup-error" class="text-danger"></p>
                <form class="signup-form form-inline" id="signup-form" role="form" onsubmit="return signup(this)">
                    <input class="form-control" name="firstName" type="text" placeholder="First Name" required>
                    <input class="form-control" name="email" type="email" placeholder="Email Address" required>
                    <button class="btn btn-success" id="signup-button" type="submit">Join now</button>
                </form>
            </div>
        </div>
    </div>
</div> 

<section id="articles" class="row justify-items-center">
    <div class="col article-group">
        recent
    </div>
    <div class="col article-group">
        top rated 
    </div>
</section>    

