<div class="container-fluid">
    <div class="row">
        <section class="col-12 col-md-8 offset-xl-1 col-xl-7">
            <%- partial('_partial/article', { post: page, index: false}) %>
            <%- partial('_partial/comments') %>
        </section>
        <aside class="hidden-sm-down col-md-4 col-xl-3">
            <%- partial('_partial/sidebar') %>
        </aside>
    </div>
</div>