<div class="container-fluid">
    <div class="row">
        <section class="col-12 col-md-9 offset-xl-2 col-xl-6">
            <%- partial('_partial/article', { post: page, index: false}) %>
                <%- partial('_partial/comments') %>
        </section>
        <aside class="hidden-sm-down col-md-3 col-xl-2">
            <%- partial('_partial/sidebar') %>
        </aside>
    </div>
</div>