#searchForm input[type=search] {
  border: none;
  background: none;
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  color: transparent;
  cursor: pointer;
  font-family: inherit;
  margin: 10px;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  transition: all .5s;
  width: 0px;
}

#searchForm input::-webkit-search-decoration,
#searchForm input::-webkit-search-cancel-button {
  display: none;
}

#searchForm input[type=search]:focus {
  border-bottom: 2px solid #839496;
  outline: none;
  width: 80%;
}

#searchForm input[type=search]:focus {
  width: 130px;
  color: #586e75;
  cursor: auto;
}

#searchForm input:-moz-placeholder,
#searchForm input::-webkit-input-placeholder {
  color: transparent;
}

#searchLabel {
  height: 100%;
  opacity: 0.8;
}

#searchLabel:hover {
  cursor: pointer;
  opacity: 1.0;
}

#searchResults {
  background: #ffffff;
  box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
  position: absolute;
  left: 32px;
  min-width: 200px;
  max-width: 40%;
  z-index: 20;
}

#searchResults ul {
  list-style: none;
  padding: 0 10px;
}

#searchResults ul li {
  max-height: 50px;
  overflow: hidden;
  overflow-wrap: ellipse;
  padding: 5px 0;
}

#searchResults .search-result-title {
  color: #586e75;
  font-size: 0.9em;
  font-weight: 600;
  text-transform: uppercase;
}

#searchResults .search-result {
  color: #839496;
  font-size: 0.8em;
}

.sidebar-item {
  background-color: #eee8d5;
  margin-bottom: 30px;
}

.sidebar-item h4 {
  color: #dc322f;
  font-family: Pacifico, cursive;
  font-weight: bold;
  padding-left: 10px;
  width: 100%;
}

#sidebarAbout, #sidebarCallToAction {
  background-color: #586e75;
  color: #ffffff;
  padding: 30px;
  text-align: center;
}

#sidebarAbout h4, #sidebarCallToAction h4 {
  color: #f2cf66;
}

#sidebarAbout img {
  width: 90%;
}

#sidebarNav ul {
  margin: 0;
  margin-top: 40px;
  padding: 0;
}

#sidebarNav ul li {
  list-style-type: none;
  line-height: 50px;
  padding: 0;
  margin-bottom: 1px;
  border: none;
  border-radius: 0;
}

#sidebarNav ul li a {
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 1px;
  color: #586e75;
  display: block;
  padding-left: 0;
  border-left: 5px solid;
  -webkit-transition: all 0.1s ease-out;
  -moz-transition: all 0.1s ease-out;
  -o-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
  background-color: rgba(238, 232, 213, 0);
  opacity: 0.8;
}

#sidebarNav ul li a:hover {
  cursor: pointer;
  -webkit-transition: all 0.1s ease-out;
  -moz-transition: all 0.1s ease-out;
  -o-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
  background-color: rgba(147, 161, 161, 0.1);
  opacity: 1.0;
}

#sidebarNav ul li a.blue-nav-border {
  border-color: #268bd2;
}

#sidebarNav ul li a.green-nav-border {
  border-color: #859900;
}

#sidebarNav ul li a.purple-nav-border {
  border-color: #6c71c4;
}

#sidebarNav ul li a i {
  margin-left: 20px;
  margin-right: 20px;
}

.pr-icon {
  display: inline-block;
  font-size: inherit;
  height: 30px;
  line-height: 60px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: auto;
  vertical-align: -15%;
  width: 30px;
}

.roaster-icon {
  background-image: url('/images/machine.svg');
}

.coffee-icon {
  background-image: url('/images/bean.svg');
}

.equipment-icon {
  background-image: url('/images/equipment.svg');
}

#sidebarRecentPosts {
  padding-top: 30px;
}

#sidebarRecentPosts h4 {
  text-align: center;
}

.pr-recent-posts-list {
  list-style: none;
  margin-top: 30px;
  padding: 0;
}

.pr-recent-posts-list-item {
  display: block;
  list-style-type: none;
  padding-left: 18px;
  line-height: 46px;
  color: #93a1a1;
  font-size: 17px;
  font-weight: 300;
  -webkit-transition: all 0.1s ease-out;
  -moz-transition: all 0.1s ease-out;
  -o-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
}

.pr-recent-posts-list-item:hover {
  cursor: pointer;
  background: #e2dfcd;
  color: #839496;
  -webkit-transition: all 0.1s ease-out;
  -moz-transition: all 0.1s ease-out;
  -o-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
}

.pr-recent-posts-list-link {
  color: #93a1a1;
  display: block;
  width: 100%;
}

.pr-recent-posts-list-link:hover {
  color: #839496;
}