footer {
    background: #eee8d5;
    /* color: #586e75; */
    min-height: 30px;
    padding: 20px 0;
    width: 100%;
    font-family: "Droid Serif", Georgia, "Times New Roman", Times, serif;
    color: #839496;
}

footer #thankYou {
    border-bottom: 1px solid #dbd9ca;
    font-size: 1.5em;
    font-weight: 500;
    padding-bottom: 20px;
}

footer #policies,
footer #copyright {
    font-size: 0.8em;
    padding-top: 20px;
}