header {
    color: #586e75;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 20px;
    font-size: 15px;
    width: 100%;
}

nav {
    background: #eee8d5;
    /* background: #fdf6e3; */
    min-height: 40px;
}

nav a {
    color: #839496;
}

.navbar-nav>li>a:hover {
    background-color: rgba(147, 161, 161, 0.1);
    opacity: 1.0;
    color: #586e75;
}

#brandIcon {
    position: relative;
    top: -50px;
    z-index: 10;
}

.navbar-toggler-icon>i {
    padding: 5px 0;
}