article {
    margin-top: 40px;
}

article>header.background-banner {
    border-bottom: 2px solid rgba(147, 161, 161, 0.5);;
    background-image: none !important;
    background-position: inherit;
    background-size: inherit;
    background-repeat: inherit;
    padding: 0;
}

article>header.background-banner h1 {
    color: inherit;
}