<div class="container-fluid FlexContainer action-primary">
    <div class="FlexItem">
        <h2>Learn how</h2>
        <p>A popcorn machine can take your coffee game to the next level</p>
        <button class="btn btn-primary">Learn more</button>
    </div>
</div>