<div class="container-fluid">
  <div class="row">
    <section class="offset-md-2 col-md-6">
      <% page.posts.each(function (post) { %>
        <%- post.link %>
        <a href="<%- url_for(post.path) %>"><h3><%- post.title %></h3></a>
          <% }) %>
    </section>
    <aside class="col-md-2">
      <%- partial('sidebar') %>
    </aside>
  </div>
</div>