<footer id="siteFooter">
    <div class="container">
        <div id="thankYou" class="row">
            <div class="col text-center">
                <span class="thank-you before-image">Thank you</span>
                <img src="/images/icon.svg" alt="Roastery Icon" width="48px" height="48px" />
                <span class="thank-you after-image">for visiting!</span>
            </div>
        </div>
        <div id="policies" class="row justify-content-center">
            <div class="col-6 col-sm-auto text-center"><a href="/privacy-policy">Privacy Policy</a></div>
            <div class="col-6 col-sm-auto text-center"><a href="/affiliate-disclaimer">Affiliate Disclaimer</a></div>
            <div class="col-6 col-sm-auto text-center"><a href="/terms-of-use">Terms of Use</a></div>
            <div class="col-6 col-sm-auto text-center"><a href="/dcma-policy">DCMA Policy</a></div>
            <div class="col-6 col-sm-auto text-center"><a href="/contact-us">Contact Us!</a></div>
        </div>
        <div id="copyright" class="row">
            <div class="col text-center text-muted"><span>© Fjellman Managment, LLC</span></div>
        </div>
    </div>
</footer>