<header>
    <nav class="navbar navbar-toggleable-sm">
        <a class="navbar-brand hidden-md-up" href="#"><img alt="Brand" src="./images/icon.svg" height="30px" width="30px"></a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon">
                <i class="fa fa-bars"></i>
            </span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <span class="w-100">
            </span>
            <ul class="navbar-nav mr-auto w-100 justify-content-around">
                <li class="nav-item"><a href="" class="nav-link">Start Here</a></li>
                <li class="nav-item"><a href="" class="nav-link">About</a></li>
            </ul>
            <span class="brand-placeholder w-50"></span>
            <ul class="navbar-nav mr-auto w-100 justify-content-around">
                <li class="nav-item"><a href="" class="nav-link">Blog</a></li>
                <li class="nav-item"><a href="" class="nav-link">Resources</a></li>
            </ul>
            <ul class="navbar-nav mr-auto w-100 justify-content-end">
                <li class="nav-item"><a class="nav-link" href="//twitter.com/popcornroastery"><i class="fa fa-lg fa-twitter"></i></a></li>
                <li class="nav-item"><a class="nav-link" href="//www.pinterest.com/mrroaster/pins/"><i class="fa fa-lg fa-pinterest"></i></a></li>
                <li class="nav-item"><a class="nav-link" href="//www.instagram.com/popcornroastery/"><i class="fa fa-lg fa-instagram"></i></a></li>
                <li class="nav-item"><a class="nav-link" href="//www.facebook.com/popcornroastery/"><i class="fa fa-lg fa-facebook"></i></a></li>
                <li class="nav-item"><a class="nav-link" href="//www.youtube.com/channel/UCGtBrQpqcG-exPvHN1CcVig"><i class="fa fa-lg fa-youtube"></i></a></li>
            </ul>
        </div>
    </nav>
    <div class="container hidden-sm-down">
        <div class="row justify-content-center">
            <div class="col-12 text-center">
                <a href="#" id="brandIcon"><img alt="Brand" src="./images/icon.svg" height="100px" width="100px"></a>
            </div>
        </div>
    </div>
</header>