<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Popcorn Roastery</title>

    <link rel="icon" type="image/ico" href="/images/favicon.ico">
    <link rel="icon" type="image/png" href="/images/favicon-16.png" sizes="16x16">
    <link rel="icon" type="image/png" href="/images/favicon-32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/images/favicon-96.png" sizes="96x96">
    <link rel="apple-touch-icon" href="older-iPhone.png" sizes="120x120">
    <link rel="apple-touch-icon" href="iPad-Retina.png" sizes="152x152" >
    <link rel="apple-touch-icon" href="iPad-Pro.png" sizes="167x167">
    <link rel="apple-touch-icon" href="iPhone-6-Plus.png" sizes="180x180" >

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css" />

    <link href="https://fonts.googleapis.com/css?family=Droid+Serif|Open+Sans|Pacifico" rel="stylesheet" type="text/css">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ"
        crossorigin="anonymous">

    <script defer src="/__/firebase/4.1.3/firebase-app.js"></script>
    <script defer src="/__/firebase/4.1.3/firebase-database.js"></script>
    <script defer src="/__/firebase/init.js"></script>

    <script defer src="https://use.fontawesome.com/974fe545cf.js"></script>

    <link href="/css/main.css" rel="stylesheet" type="text/css">
    <link href="/css/header.css" rel="stylesheet" type="text/css">
    <link href="/css/footer.css" rel="stylesheet" type="text/css">
    <link href="/css/action-primary.css" rel="stylesheet" type="text/css">
    <link href="/css/action-signup.css" rel="stylesheet" type="text/css">
</head>