<div id="sidebarAbout" class="sidebar-item">
    <h4>Hello!</h4>
    <p>DIY Roasters is all about helping you roast coffee at home, using a popocorn machine.</p>
    <img src="/images/icon.svg" alt="Roastery Icon">
</div>
<div id="sidebarNav" class="sidebar-item">
    <ul>
        <li><a class="blue-nav-border" href="/roasters"><i class="pr-icon roaster-icon"></i> Roasters</a></li>
        <li><a class="green-nav-border" href="/green-coffee"><i class="pr-icon coffee-icon"></i> Green Coffee</a></li>
        <li><a class="purple-nav-border" href="/equipment"><i class="pr-icon equipment-icon"></i> Equipment</a></li>
    </ul>
</div>
<div id="sidebarCallToAction" class="sidebar-item">
    <h4>We are DIY roasters!</h4>
    <p>With community, Coffee can be so much more than just a cup, why not roast it with others?</p>
    <a class="btn btn-primary" href="/community">Join Community</a>
</div>
<div id="sidebarRecentPosts" class="sidebar-item">
    <h4>Recent Posts</h4>
    <%- list_posts({ order:-1, amount:5, class:'pr-recent-posts' }) %>
</div>